apiVersion: v1
data: 
  nginx.conf: |
    events { }

    http {
      server {
        listen 80;
        listen 444 ssl;

        ssl_certificate /etc/nginx/tls/certificate.crt;
        ssl_certificate_key /etc/nginx/tls/private.key;

        location / {
          return 200 'Seja bem-vindos!\n';
          add_header Content-Type text/plain;
        }
      }
    }

kind: ConfigMap
metadata:
  name: nginx-config
  namespace: default
